.wallet-connect-model {
  .ant-modal-content {
    color: var(--pure-white);
    background: var(--glassy-bg);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--transparent-bg);
  }
}
