.banner-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  .banner-text-wrapper {
    .banner-text-heading {
      font-size: 52px;

      .banner-nft-text {
        color: rgba(255, 0, 118, 0.8);
      }
    }
  }
  .banner-image {
    img {
      border-radius: 50px;
      width: 100%;
      box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
