.header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(71, 70, 70, 0.353);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  transition: background 0.3s, border-bottom 0.3s;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 1s;
  }

  &:hover::before {
    left: 100%;
  }
}

.logo {
  cursor: pointer;
}

.hamburger {
  display: none; // Hide by default
  cursor: pointer;
  font-size: 24px; // Adjust size as needed
}

// Media query for small screens
@media (max-width: 768px) {
  .desktop-controls {
    display: none; // Hide desktop controls
  }

  .hamburger {
    display: block; // Show hamburger icon
  }
}

// ======================================================================================================================//
// ============================================== Dark mode styles ======================================================//
// ======================================================================================================================//

body.dark-mode {
  .header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
}
